.header {
  grid-column: 1/2;
  background-color: #6467CD;
  padding: 5px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .saving {
  color: #FAF7FF;
}

.menu li { 
  display: inline-block;
  padding: 10px 10px;
  margin: 0px 5px;
  background-color: #383838;
  color: #FAF7FF;
  border-radius: 5px;
  cursor: pointer;
}

.menu li:active { 
  background-color: #FAF7FF;
  color: #6467CD;
}

